
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    max-width: 100%;
}
p{
    color: rgb(102, 98, 98);
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
}


/* ===header */
.sub-header{
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    max-width:500px;
    background-color: #79777c;
    min-height: 40vh;
    color: #fff;
    position: relative;
}

.header-text {
    text-align: center;
    position: absolute;
    margin-top: 68px;
    margin-left: 78px;
} 

/* 65% off */

.discount-area{
    display: block;
    margin-left: 5rem;
}
.discount-area img{
    width: 250px;
    margin-bottom: 3rem;
}
.title{
    color: red;
}

.discount-area h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
}

.discount-area h6{
    font-size: .8rem;
    margin-bottom: 1.4rem;
    margin-left: 3rem;
}

.discount-area  h3{
    font-size: 1.4rem;
    margin-left: 3rem;
    margin-bottom: 1.9rem;
}
/*======== party====== */
.party-container{
   background-image: url('B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
   max-width: 100%;
   min-height: 40vh;
   display: flex;
   color: #fff;
   margin-bottom: 2rem;

}
.party-content {
    margin-top: 1.6rem;
    margin-left: .5rem;
}
.party-content h2{
   font-size: 1.1rem;
   margin-bottom: .6rem;
}
.party-content p{
    color: #fff;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.party-content .btn{
    color: #fff;
     background-color: transparent;
     padding: .4rem .8rem;
     border: .1rem solid gray;
     border-radius: 2rem;
}
.party-year img{
    width: 100px;
    margin-top: 1.6rem;
}

/* ===== contact===*/

.contact{
    background-color: #f3e8e9;
    text-align: center;
    border-radius: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    min-height: 20vh;
}
.contact-text h3{
    margin-top: 2rem;
    font-size: 1.2rem;
}
.contact-text h4{
    font-size: 1rem;
    margin-top: 1.2rem;
}
.about-btn{
    background-color: red;
    color: #fff;
    padding: .5rem .8rem;
    border-radius: 5px;
    border: .1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*  Best offer */
.best-offer-1{
    text-align: center;
    margin: 2rem;
}

.best-offer-2 {
    border: 5px solid red;
     width: 360px;
     height: 375px;
     position: relative;
     border-radius: 50%;
     margin-right: 20rem;
 }

 .best-offer-2 img{
    width: 330px;
    margin-top: 1.1rem;
    margin-left: .6rem;
    text-align: center;
    position: absolute;
 }

.best-offer-3 {
    text-align: center;
}
.best-offer-3 img{
   width: 280px;
   margin-left: 1.4rem;
   margin-bottom: 1.1rem;
}

.best-offer-3 h2{
    font-size: 2rem;
}
/* ====50% section=== */
.holiday-area{
    text-align: center;
}
.holiday-1 h5{
    font-size: 1rem;
    margin: 1rem;
}
.holiday-1 h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1.1rem;
}

.holiday-2 img{
    width: 300px;
}
.sub1-holiday img{
    margin-top: -10px;
}

.product-text{
    text-align: center ;
    margin: 1.5rem;
}
.product-text h5{
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
}
.product-text h2{
    font-size: 1.6rem;
    margin-bottom: 1.1rem;
}
.products img{
    width: 300px;
    margin-left: 1.9rem;
    margin-bottom:  .8rem;
}

/* newsletter */
.newsletter-container {
    text-align: center;
    margin-top: 1.1rem;
    margin-bottom: 1.2rem;
}

.newsletter-container h2{
    font-size: 1.6rem;
    font-weight: bolder;
     margin: .8rem;
}

.newsletter-container input {
    padding: .8rem .8rem;
    border-bottom-left-radius: 1.4rem;
    border-top-left-radius: 1.4rem;
    border: .1rem solid rgb(219, 210, 210);
    outline: none;
}
.newsletter-container button {
    background-color: red;
    color: #fff;
    padding: .8rem .9rem;
    border-bottom-right-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
    border: .1rem solid rgb(216, 208, 208);
    outline: none;
}


/* ====footer==== */
.footer-area{
    background: #070211;
    color: #fff;
}
.footer-2 {
    text-align: center;
    margin: 1rem;
}
.footer-2  img{
    width: 35px;
}
.footer-1{
   text-align: center;
   margin-bottom: 1rem;
}
.footer-1 h4{
    margin-top: 1.6rem;
}
.footer-1 a{
    font-size: 1.2rem;
     color: #fff;
     margin: .5rem;
     margin-top: -20px;

}
.footer-img{
    margin-top: .8rem;
}
hr{
    height: .1rem;
    background-color: red;
}

.footer-3 {
    display: flex;
    justify-content: space-between;
     margin-top: 1rem;
     margin-right: .8rem;
     margin-left: .8rem;
}
.footer-3 h4{
    font-size: .9rem;
    margin-bottom: 2rem;
}
/* Desktop */
@media screen and (min-width:993px){

    .header-area{
        background-image: url('B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
        max-width: 100%;
        min-height: 90vh;
        margin-top: 3rem; 
        margin-left: 6rem;
        margin-right: 6rem;
        border-radius: 1rem;
        display: flex;
        color: #fff;
        margin-bottom: 2rem;
        position: relative; 

       
    }
    
    .header-text {
        text-align: center;
        position: absolute;
        margin-top: 288px;
        margin-left: 778px;
    } 
    .header-text h1{
        font-size: 2.6rem;
        font-weight: bolder ;
    }
    
    /* 65% off */
    .discount-area{
        display: block;
        margin-left: 45rem;
    }
    .discount-area img{
      width: 480px;
        margin-bottom: 3rem;
    }
    .title{
        color: red;
    }
    
    .discount-area h2{
        font-size: 3rem;
        margin-bottom: 1.5rem;
      
    }
    
    .discount-area h6{
        font-size: 1.1rem;
        margin-bottom: 1.4rem;
       
    }
    
    .discount-area  h3{
        font-size: 2.4rem;
        margin-bottom: 1.9rem;
    }
    /* party section */

    .party-container{
        background-image: url('B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
        max-width: 100%;
        min-height: 80vh;
        margin-left: 5rem;
        margin-right: 5rem;
        border-radius: 1rem;
        display: flex;
        color: #fff;
        margin-bottom: 2rem;
     }
     .party-content {
         margin-top: 5.6rem;
         margin-left: 5.5rem;
     }
     .party-content h2{
        font-size: 3.1rem;
        margin-bottom: .6rem;
     }
     .party-content p{
         color: #fff;
         font-size: 2.1rem;
         margin-bottom: 1rem;
     }
     .party-content .btn{
         color: #fff;
          background-color: transparent;
          padding: 1rem 2.8rem;
          border: .1rem solid gray;
          border-radius: 2rem;
     }
     .party-year img{
      width: 300px;
         margin-top: 6.6rem;
     }
     /* contact section */

     .contact{
        background-color: #f3e8e9;
        border-radius: 1rem;
        margin-left: 5.2rem;
        margin-right: 5.2rem;
        min-height: 40vh;
        margin-top: 3rem;
    }
    .contact-area{
        text-align: center;
        margin-top: 5rem;
        position: relative;
    }
    .contact-text{
        margin-top: 3rem;
        margin-left: 38rem;
        position: absolute;
    }
   
    .contact-text h3{
        font-size: 2.2rem;
    }
    .contact-text h4{
        font-size: 2.4rem;
    }
    .about-btn{
        background-color: red;
        padding: 1rem 1.9rem;
        border-radius: 8px;
        font-size: 1.2rem;  
    }

    /* ====best offer==== */
    .best-offer{
        display: flex;
        justify-content:space-evenly ;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .best-offer-1 {
        margin-right: 20rem;
        margin-top: 8rem;
    }
    .best-offer-1 h5{
       font-size: 1.1rem;
      
    }
    .best-offer-1 h2{
       font-size: 2.4rem;
       
    }
    .best-offer-1 p{
        word-wrap: break-word;
    }


    .best-offer-2 {
       border: 8px solid red;
        width: 1160px;
        height: 420px;
        position: relative;
        border-radius: 50%;
        margin-right: 20rem;
      
    }

    .best-offer-2 img{
       width: 350px;
       margin-top: 1.7rem;
       margin-left: 1.5rem;
       text-align: center;
       position: absolute;
    }

    .best-offer-3 h2{
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
        margin-top: 6rem;
    }
    
    .best-offer-3 img{
       width: 180px;
       margin-left: 1.4rem;
       margin-top: 1.2rem;
    }

    /* holiday */
    
    .holiday-area{
        margin-top: 6rem;
    }
    .holiday-1{
        margin-bottom: 3rem;
    }

    .holiday-1 h5{
        font-size: 1.3rem;
    }
    .holiday-1 h2{
        font-size: 2.9em;
    }
    .sub-holiday img{
        width: 500px;
    }

    .sub1-holiday {
        margin-left: 6rem;
        margin-right:7.5rem ;
    }

    .sub1-holiday img{
        height: 26vh;
        width: 100%;
        border-radius: 8px;
    }
     .holiday-2{
        position: relative;
    }
    .holiday-img1{
        position: absolute;
        margin-top: 250px;
        margin-left: 90px;
    } 

   .holiday-img2{
    position: absolute; 
    margin-left: 790px;

    }
     .holiday-img3{
      margin-left: 1150px;
 
      } 
   
      /* products */
     .product-text{
       margin-top: 5rem;
       margin-left: -95rem;
      } 
     
      .product-text h2{
        font-size:2.1rem ;
        margin-left: 10rem;
      }
      .product-text p{
        font-size:1.1rem ;
         margin-left: 40rem;
        word-break: break-all;
      }
      .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 3rem;

      }
      .products img{
        width: 510px;
      }

      /* newsletter */

      .newsletter-container img {
        width:250px ;
        margin-top: 5rem;
      }

      .newsletter-container h2{
        font-size: 2.5rem;
        margin: 2rem;
      }

      .newsletter-container p{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      .newsletter-container input {
        padding: .9rem 3rem;
        border-bottom-left-radius: 1.4rem;
        border-top-left-radius: 1.4rem;
        border: .1rem solid rgb(219, 210, 210);
        outline: none;
    }
    .newsletter-container button {
        background-color: red;
        color: #fff;
        padding: .9rem 1.9rem;
        border-bottom-right-radius: 1.4rem;
        border-top-right-radius: 1.4rem;
        border: .1rem solid rgb(216, 208, 208);
        outline: none;
    }

    /* footer */

    .footer-area{
        background: #070211;
        color: #fff;
    }

     .footer-1 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
     }
     .footer-img {
        display: block;
     }
    .footer-1 h4{
        font-size: 1.4rem;
    }

    .footer-img {
      display: flex;
       
    }
    
    .footer-2 {
       
        text-align: center;
        margin: 1rem;
      gap: 2.1rem;
    }
    .footer-2  img{
        width: 45px;
    }
    .footer-1{
        text-align: center;
        margin-bottom: 1rem;
     }
    .footer-1 h4{
        margin-top: 1.6rem;
    }
    .footer-1 a{
        font-size: 1.5rem;
         color: #fff;
         margin: .5rem;
        
    
    }
    .footer-img{
        margin-top: 1.8rem;
    }
    hr{
        height: 1px;
        color: gray;
        margin-left: 8rem;
        margin-right: 8rem;
    }
    
    .footer-3 {
        display: flex;
        justify-content: space-evenly;
         margin-top: 1rem;
         margin-right: .8rem;
         margin-left: .8rem;
    }
    .footer-3 h4{
        font-size:1.4rem;
        margin-bottom: 2rem;
    } 

    
}
/* tablet */

@media screen and (min-width: 768px) and (max-width:992px){
    .header-area{
        background-image: url('B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
        max-width:100%;
        min-height: 60vh;
        margin-top: 2rem; 
        margin-left: 2.9rem;
        margin-right: 2rem;
        border-radius: 1rem;
        background-repeat: no-repeat;
        background-size: auto;
        color: #fff;
        margin-bottom: 2rem;
        position: relative; 

       
    }
    .header-text h4{
        font-size: 1.5rem;
    }
    
    .header-text {
        text-align: center;
        position: absolute;
        margin-top: 205px;
        margin-left: 288px;
    } 
    .header-text h1{
        font-size: 2.6rem;
        font-weight: bolder ;
    }
    
    /* 65% off */
    .discount-area{
        display: block;
        margin-left: 15rem;
    }
    .discount-area img{
      width: 480px;
        margin-bottom: 3rem;
    }
    .title{
        color: red;
    }
    
    .discount-area h2{
        font-size: 3rem;
        margin-bottom: 1.5rem;
      
    }
    
    .discount-area h6{
        font-size: 1.5rem;
        margin-bottom: 1.4rem;
       
    }
    
    .discount-area h3{
        font-size: 2.4rem;
        margin-bottom: 1.9rem;
    }
    /* party section */

    .party-container{
        background-image: url('B9A1-New-Year-New-Mission-main/resources/Vectorrr.png'), linear-gradient();
        max-width: 100%;
        min-height: 50vh;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 1rem;
        
     }
     .party-content {
         margin-top: 5.6rem;
         margin-left: 2rem;
     }
     .party-content h2{
        font-size: 2.1rem;
        margin-bottom: .6rem;
     }
     .party-content p{
         font-size: 1.6rem;  
     }
     .party-content .btn{
          font-size: 1.5rem;
          padding: 1rem 2.8rem;   
     }
     .party-year img{
         width: 250px;
         margin-top: 6.6rem;
     }
     /* contact section */

     .contact{
      
        margin-left:2rem;
        margin-right: 2rem;
        min-height: 40vh;
        margin-top: 3rem;
    }
    .contact-area{
        text-align: center;
        margin-top: 5rem;
        position: relative;
    }
    .contact-text{
        margin-top: 5rem;
        margin-left: 7rem;
        position: absolute;
    }
   .contact-text h3{
        font-size: 2.2rem;
    } 
    .contact-text h4{
        font-size: 2.3rem;
    }
    .about-btn{
        padding: 1rem 1.9rem;
        font-size: 1.6rem;  
    }

    /* ====best offer==== */
    .best-offer{
        display: flex;
        justify-content:space-between ;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .best-offer-1 {
        margin-top: 8rem;
    }
    .best-offer-1 h5{
       font-size: 1.1rem;
      
    }
    .best-offer-1 h2{
       font-size: 2.3rem;
       
    }
   
     .best-offer-2 {
       border: 5px solid red;
       width: 1890px;
        height: 300px;
        position: relative;
        margin-right: 1rem;
        margin-top: 6rem;
      
    }

    .best-offer-2 img{
       width: 230px;
       margin-top: 1.7rem;
       margin-left: 1rem;
       position: absolute;
    }

    .best-offer-3 h2{
        font-size: 2.1rem;
        margin-bottom: 1.2rem;
        margin-top: 6rem;
    }
    
    .best-offer-3 img{
       width: 140px;
       margin-left: 1.1rem;
       margin-top: 1.2rem;
    }

    /* holiday */
    
    .holiday-area{
        margin-top: 6rem;
    }
    .holiday-1 h5{
        font-size: 1.3rem;
    }
    .holiday-1 h2{
        font-size: 2.9em;
    }
    .sub-holiday img{
        width: 280px;
    }
    .sub1-holiday {
        margin-left: 1.3rem;
        margin-right:1rem ;
    }

    .sub1-holiday img{
        height: 20vh;
        width: 100%;
        border-radius: 8px;
    }
     .holiday-2{
        position: relative;
    }
    .holiday-img1{
        position: absolute;
        margin-top: 150px;
        margin-right: 160px;
    } 

   .holiday-img2{
    position: absolute; 
    margin-left: 290px;

    }
     .holiday-img3{
      margin-left:490px;
 
      } 
   
      /* products */
     .product-text{
       margin-top: 5rem;
            } 
     
      .product-text h2{
        font-size:2.1rem ;
     
      }
      .product-text p{
        font-size:1.4rem ;
         
       
      }
      .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 3rem;

      }
      .products img{
        width: 300px;
      }

      /* newsletter */

      .newsletter-container img {
        width:250px ;
        margin-top: 5rem;
      }

      .newsletter-container h2{
        font-size: 2.5rem;
        margin: 2rem;
      }

      .newsletter-container p{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      .newsletter-container input {
        padding: .9rem 3rem;
        border-bottom-left-radius: 1.4rem;
        border-top-left-radius: 1.4rem;
        border: .1rem solid rgb(219, 210, 210);
        outline: none;
    }
    .newsletter-container button {
        background-color: red;
        color: #fff;
        padding: .9rem 1.9rem;
        border-bottom-right-radius: 1.4rem;
        border-top-right-radius: 1.4rem;
        border: .1rem solid rgb(216, 208, 208);
        outline: none;
    }

    /* footer */
      .footer-1 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
     } 
   
    .footer-1 h4{
        font-size: 1.3rem;
    }

    .footer-img {
      display: flex;
       
    }
    

    .footer-2  img{
        width: 45px;
    }
    .footer-1{
        text-align: center;
        margin-bottom: 1rem;
     }
    .footer-1 h4{
        margin-top: 1.6rem;
    }
    .footer-1 a{
        font-size: 1.3rem;
         color: #fff;
         margin: .5rem;
        
    
    }
    .footer-img{
        margin-top: 1.8rem;
    }
    hr{
      
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
    .footer-3 {
        display: flex;
        justify-content: space-evenly;
         margin-top: 1rem;
         margin-right: .8rem;
         margin-left: .8rem;
       
    }
    .footer-3 h4{
        font-size:1.4rem;
        margin-bottom: 2rem;
    } 
}



